/* *Flash message styling */
.msgError {
    color:#cc0f35;
    font-weight:bold;
    border: solid 2px #fbcad3;
    background: #fbcad3;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
    width: 90%;
}
.msgSuccess {
  color:#228b22;
  font-weight:bold;
  border: solid 2px #bce3bc;
  background: #bce3bc;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
  width: 90%;
}